<p>コメント件数：全<%= post.post_comments.count %>件</p>
<% post.post_comments.each do |post_comment| %>
   <div class="comment mb-5">
    <%= link_to user_path(post_comment.user) do %>
     <p><%= attachment_image_tag post_comment.user, :profile_image, format: "jpeg", fallback: "no_image.jpg", size: "50x50" %></p>
       <%= post_comment.user.name %>さん
　　<% end %>
     <p><%= post_comment.comment %></p>
     <p><%= post_comment.created_at.strftime('%Y/%m/%d') %></p>

     <% if post_comment.user == current_user %>
       <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, remote: true, class:"btn btn-sm btn-danger" %>
     <% end %>
   </div>
<% end %>



