
<div class="container mt-3">

 <div class="row">
   <div class="col-md-4 mt-5">

     <%= attachment_image_tag @user, :profile_image, format: "jpeg", fallback: "no_image.jpg", size: "130x130" %>
       <table class="table">
        <tbody>
         <tr>
           <th><%= @user.name %></th>
         </tr>
           <th><%= @user.introduction %></th>
         </tr>
         <tr>
           <th>投稿数 : <%= current_user.post.count %></th>
         </tr>
         <tr>
           <th>フォロー中</th>
         </tr>
         <tr>
           <th>フォロワー</th>
         </tr>
        </tbody>
       </table>
        <% if @user.id == current_user.id %>
         <div class="row">
          <%= link_to edit_user_path(@user.id), class:"btn btn-outline-secondary btn-block" do %>
      　     <i class="fas fa-user-cog"></i>
          <% end %>
         </div>
        <% end %>
        <%= link_to "ユーザーを探す", users_path %>
        <%= link_to "投稿する", new_post_path %>
   </div>
   <div class="col-md-7 ml-5">
   　  <h2>自分の投稿</h2>
       <div class="post_container">

          <% @posts.each do |post| %>
           <div class="col-xs-3 offset-md-3 mx-auto">
             <div class="list mr-3">
                <%= link_to post_path(post.id) do %>
                  <%= attachment_image_tag post, :post_image, format: 'jpeg',fallback: "no_image.jpg", size: "130x130", class: 'card-img-top item-target' %><br>
                  <p><%= post.title %></p>
                <% end %>
             </div>
           </div>
          <% end %>

        </div>
           <%= paginate @posts, param_name: 'posts_page' %>

        　　 <h2>いいねした投稿</h2>
       　<div class="post_container">

          <% @user.favorite_posts.each do |post| %>
           <div class="col-xs-3 offset-md-3 mx-auto">
             <div class="list mr-3">
                <%= link_to post_path(post.id) do %>
                  <%= attachment_image_tag post, :post_image, format: 'jpeg',fallback: "no_image.jpg", size: "130x130", class: 'card-img-top item-target' %><br>
                  <p><%= post.title %></p>
                <% end %>
             </div>
           </div>
          <% end %>

        </div>
           <%= paginate @favorites, param_name: 'favorites_page' %>



   </div>

 </div>
</div>
