
<div class="container mt-3">

 <div class="row">
   <div class="col-md-4 mt-5">

     <%= attachment_image_tag @user, :profile_image, format: "jpeg", fallback: "no_image.jpg", size: "130x130" %>
       <table class="table">
        <tbody>
         <tr>
           <th>名前 <%= @user.name %></th>
         </tr>
           <th>一言 <%= @user.introduction %></th>
         </tr>
         <tr>
           <th>投稿数 <%= current_user.post.count %>件</th>
         </tr>
         <tr>
           <th>お気に入り
           <%= link_to user_followings_path(@user) do %>
             <%= @user.followings.count %>人
           <% end %>
           </th>
         </tr>
         <tr>
           <th>フォロワー
           <%= link_to user_followers_path(@user) do %>
             <%= @user.followers.count %>人
           <% end %>
           </th>
         </tr>
        </tbody>
       </table>
        <% if @user.id == current_user.id %>
         <div class="row">
          <%= link_to edit_user_path(@user.id), class:"btn btn-outline-secondary btn-block" do %>
      　     <i class="fas fa-user-cog"></i>
          <% end %>
         </div>
        <% end %>

        <% if @user != current_user %>
          <% if current_user.following?(@user) %>
            <%= link_to "お気に入りから外す", user_relationship_path(user_id: @user, id: @user), method: :delete %>
          <% else %>
            <%= link_to "お気に入りに追加", user_relationships_path(@user.id), method: :post %>
          <% end %>
        <% end %>


        <%= link_to "ユーザーを探す", users_path %>
        <%= link_to "投稿する", new_post_path %>
   </div>
   <div class="col-md-7 ml-5">
   　  <h2>自分の投稿</h2>
       <div class="post_container">

          <% @posts.each do |post| %>
           <div class="col-xs-3 offset-md-3 mx-auto">
             <div class="list mr-3">
                <%= link_to post_path(post.id) do %>
                  <% if post.post_images.count > 0 %>
                     <%= image_tag post.post_images.first.variant(resize: "200x200").processed %><br>
                  <% end %>
                  <!--< attachment_image_tag post, :post_image, format: 'jpeg',fallback: "no_image.jpg", size: "130x130", class: 'card-img-top item-target' %>-->
                  <p><%= post.title %></p>
                <% end %>
             </div>
           </div>
          <% end %>

        </div>
           <%= paginate @posts, param_name: 'posts_page' %>

        　　 <h2>いいねした投稿</h2>
       　<div class="post_container">

          <% @user.favorite_posts.each do |post| %>
           <div class="col-xs-3 offset-md-3 mx-auto">
             <div class="list mr-3">

                <%= link_to post_path(post.id) do %>
                  <% if post.post_images.count > 0 %>
                     <%= image_tag post.post_images.first.variant(resize: "200x200").processed %><br>
                  <% end %>
                  <!--写真が投稿されていたら一枚目だけ表示する--
                  <!--< attachment_image_tag post, :post_image, format: 'jpeg',fallback: "no_image.jpg", size: "130x130", class: 'card-img-top item-target' %>-->
                  <p><%= post.title %></p>
                <% end %>
             </div>
           </div>
          <% end %>

        </div>
           <%= paginate @favorites, param_name: 'favorites_page' %>



   </div>

 </div>
</div>
