<div class="container mt-3">
  <div class="row">

    <div class="col-md-10 mx-auto">

        <h2>投稿一覧</h2>
        <% if @posts.exists? %>

              <div class="item_container">
                <% @posts.each do |post| %>
                  <div class="item">
                    <%= link_to post_path(post.id) do %>
                      <% if post.post_images.count > 0 %>
                        <div class="img_wrap">
            　 　          <img>
                           <%= image_tag post.post_images.first.variant(resize: "200x200").processed %>
                         </img>
                        </div>
                      <% end %>
                     <p><%= post.title %></p>
                     <p><%= post.item %></p>

                    <% end %>



                  </div>


                <% end %>
              </div>
              <%= paginate @posts, param_name: 'posts_page' %>
        <% else %>
           <p>投稿はまだありません</p>
        <% end %>

    </div>
  </div>
</div>