<div class="container">
 <div class="row">
   <div class="col">
　　<div class="material">
     <p>素材から探す</p>
     <p><%= link_to">K18",material_path(material: "K18") %></p>
     <p><%= link_to">K18PG",material_path(material: "K18PG") %></p>
     <p><%= link_to">K18WG",material_path(material: "K18WG") %></p>
     <p><%= link_to">PT",material_path(material: "PT") %></p>
     <p>宝石から探す</p>
     <p><%= link_to">ダイヤモンド",material_path(jewel: "ダイヤモンド") %></p>
     <p><%= link_to">ルビー",material_path(jewel: "ルビー") %></p>
     <p><%= link_to">サファイヤ",material_path(jewel: "サファイヤ") %></p>
     <p><%= link_to">パール",material_path(jewel: "パール") %></p>
    </div>

    <div id="container">
      <div id="theTarget">
        <div class="image1">
          <h1>Jewelog</h1>
        </div>
        <div class="image2">
          <h3>Jewelogでは沢山の投稿を募集しています♡</h3>
        </div>
        <div class="image3">
          <h3>
            プレゼント選びの参考にもなります！<br>
            人気ジュエリーのレビューを覗いてみましょう♡
          </h3>
        </div>
        <div class="image4">
          <h3>
            大切なご記念のジュエリー選びは慎重に<br>
            色んなデザインを見比べてみましょう♡
          </h3>
        </div>

      </div>
    </div>

   </div>

  <div class="col-md-9 mx-auto mt-5">

    <div class="item mt-5 mw-auto">
       <h4>条件から探す</h4>
        <%= form_with url: search_item_path, method: :get, local: true do |f| %>
         <div class="box mb-3 mt-3">
           <div class="item_box mr-3">
            <%= f.select :item, {'リング': 'リング', 'ネックレス': 'ネックレス', 'ピアス': 'ピアス', 'ブレスレット': 'ブレスレット', 'アンクレット': 'アンクレット', 'ブローチ': 'ブローチ'}, { include_blank: 'アイテムを選択'}, { class: 'form-control' , required: true } %>
           </div>
           <div class="material_box mr-3">
            <%= f.select :material, {'K18': 'K18', 'K18PG': 'K18PG', 'K18WG': 'K18WG', 'PT': 'PT', 'K10': 'K10', 'K10PG': 'K10PG', 'K10WG': 'K10WG', 'その他の素材': 'その他の素材'}, { include_blank: '素材を選択'}, { class: 'form-control' , required: true } %>
           </div>
           <div class="jewel_box mr-3">
            <%= f.select :jewel, {'ダイヤモンド': 'ダイヤモンド', 'ルビー': 'ルビー', 'サファイヤ': 'サファイヤ', 'エメラルド': 'エメラルド', 'パール': 'パール', 'アメジスト': 'アメジスト', 'トパーズ': 'トパーズ','トルマリン': 'トルマリン', 'カクテル': 'カクテル', '地金のみ': '地金のみ' }, { include_blank: '宝石を選択'}, { class: 'form-control' , required: true } %>
           </div>
           <%= f.submit '検索', class: 'btn btn-primary'  %>
         </div>

        <% end %>

     </div>

    <h3 class="title-border font mt-5"><strong>新着</strong></h3>
    <!-- 商品を4つ表示するようにする -->
    <div class="col-xs-offset-3">
      <div class="item--card-content align-items-start">
        <% @posts.last(4).each do |post| %>
          <div class="col-xs-3 offset-md-3 mx-auto" style="padding-right: 20px; padding-left: 20px;">
            <%= link_to post_path(post.id) ,style: "color: black;", data: {"turbolinks" => false}, class: 'text-decoration-none img-wrap' do %>
            　　　<% if post.post_images.count > 0 %>
            　 　 <div class="img_wrap">
            　 　   <img>
                    <%= image_tag post.post_images.first.variant(resize: "200x200").processed %><br>
                  </img>
                 </div>
                <% end %>
              <!--< attachment_image_tag post, :post_image, :fill,200,200, format: 'jpeg',fallback: "no_image.jpg", class: 'card-img-top item-target' %>-->
              <p><%= post.title %></p>
              <p class="text-dark"><%= post.item %></p>
            <% end %>
          </div>
        <% end %>
      <div>
    </div>
  </div>
      <div class="mt-3 mb-5">
        <p><%= link_to "もっと見る>", posts_path, class: 'btn btn-outline-info' %></p>
      </div>
        お問い合わせは<%= link_to "こちら", inquiry_index_path %>から

 </div>
</div>

