<div class="container mt-3">
  <div class="row">

    <div class="col-md-10 mx-auto">


        <h2>投稿一覧</h2>
        <% if @posts.exists? %>
           <%= link_to"新しい順", posts_path(sort: 'created_at DESC')%>｜<%= link_to"評価の高い順", posts_path(sort: 'rate DESC') %>

              <div class="item_container">
                <% @posts.each do |post| %>
                  <div class="item">
                    <%= link_to post_path(post.id) do %>
                      <% if post.post_images.count > 0 %>
                        <div class="img_wrap">

            　 　           <!--最初の１枚だけ表示-->
                            <%= image_tag post.post_images.first.variant(resize: "200x200").processed %>

                        </div>
                      <% end %>
                     <!--< attachment_image_tag post, :post_image, format: "jpeg", fallback: "no_image.jpg", size: "200x200" %>-->
                     <p><%= post.title %></p>

                    <% end %>
                    <div id="favorites_<%= post.id %>">
                     <%= render "favorites/favorites", post: post %>
                    </div>

                    <p id="rate_<%= post.id %>"></p>
                    <script>
                      $('#rate_<%= post.id %>').raty({
                      size: 20,
                      starOff:  '<%= asset_path('star-off.png') %>',
                      starOn : '<%= asset_path('star-on.png') %>',
                      starHalf: '<%= asset_path('star-half.png') %>',
                      half: true,
                      readOnly: true,
                      score: <%= post.rate %>,
                      });
                    </script>

                  </div>
                <% end %>
              </div>
               <%= paginate @posts, param_name: 'posts_page' %>
        <% else %>
           <p>投稿はまだありません</p>
        <% end %>

    </div>
  </div>
</div>