<div class="container ">
  <div class="row">

      <div class="col-md-5">

       <h2>詳細画面</h2>
       <p>
         <%= link_to user_path(@post.user) do %>
           <%= @post.user.name %>さん
         <% end %>の投稿です
       </p>


         <% @post.post_images.each do |post_image| %>
            <p><%= image_tag(post_image, width:300) %></p>
         <% end %>

             <!--< attachment_image_tag @post, :post_image, format: "jpeg", fallback: "no_image.jpg", size: "350x350" %>-->
        <div class="flex">
         <div id="favorites_<%= @post.id %>">
           <%= render "favorites/favorites", post: @post %>
         </div>
         <div class="create ml-5">
           <%= @post.created_at.strftime('%Y/%m/%d') %>
         </div>
        </div>

         <% if @post.score > 0 %>
           <p>感情分析スコア</p><p class="positiv"><i class="fas fa-laugh-beam size"></i>　<%= @post.score %></p>
         <% else %>
           <p>感情分析スコア</p><p class="negativ"><i class="fas fa-sad-cry size"></i>　<%= @post.score %></p>
         <% end %>

         <div id="rate_<%= @post.id %>"></div>

         <script>
          $('#rate_<%= @post.id %>').raty({
          size: 20,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          half: true,
          readOnly: true,
          score: <%= @post.rate %>,
          });
         </script>
        <div class="title mt-3">
         <p>タイトル：<%= @post.title %></p>
         <p>感想：<%= @post.caption %></p>

         <p>アイテム：<%= @post.item %></p>
         <p>素材：<%= @post.material %></p>
         <p>宝石の種類：<%= @post.jewel %></p>
         <p>お値段：¥<%= @post.price %></p>
         <p>購入した店舗名：<%= @post.shop_name %></p>
        </div>

           <% if @post.user == current_user %>
                 <div class="edit mb-5">
                   <td>
                     <%= link_to "編集", edit_post_path(@post), class:"btn btn-sm btn-success" %>
                   </td>
                   <td>
                     <%= link_to "削除", post_path(@post), method: :delete, data:{confirm: "本当に消しますか？"}, class:"btn btn-sm btn-danger" %>
                 </div>
                   </td>

           <% end %>
      </div>
       <div class="col-md-5 mt-3">

          <div id="post_comments_<%= @post.id %>">
           <%= render "post_comments/post_comments", post: @post %>
          </div>


            <%= form_with(model:[@post, @post_comment], remote: true) do |f| %>
              <%= f.text_area :comment, rows:'5',placeholder: "コメントを投稿しよう", class:"form-control mb-3" %>
              <%= f.submit "送信する" %>
            <% end %>

       </div>

  </div>
</div>

